<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <title>The Earining App</title>


</head>

<body>
  <div class="container">
    <h1 class="text-primary text-center mt-5">The Earning App</h1>
    <small class="d-block text-center mb-5">Let's come together to earn more</small>
    <div class="row container">
      <div class="col-12 col-md-6 my-3">
        <h5>Welcome !!</h5>
        <h1 class="text-primary"> <%= user.Name %> </h1>
      </div>
      <div class="text-md-end col-12 col-md-6 my-3">
        <h5>Credit Score</h5>
        <h2 id="c_Score_holder"><%= user.c_Score %></h2>
      </div>
      <div class="col-lg-6 col-12">
        <form method="post" action="/txn">
          <div class="my-3 row">
            <label for="amount" class="form-label fs-3">Amount: <%= user.Balance %></label>
            <input type="hidden" name="c_Score" id="c_Score" value=<%-user.c_Score%>>
            <input type="number" min="100" class="form-control" name="amount" required>
            <small id="hide" class="text-danger my-1"><%= page %></small>
            <button type="submit" name="submit" class="btn btn-warning col-6 my-3" value="Credit">Credit</button>
            <button type="submit" name="submit" class="btn btn-danger col-6 my-3" value="Debit">Debit</button>
        </form>
      </div>
    </div>
    <div class="chart col-lg-6 col-12">
      <ul class="numbers">
        <li><span>100%</span></li>
        <li><span>50%</span></li>
        <li><span>0%</span></li>
      </ul>
      <ul class="bars">
        <li><div class="bar" data-percentage="50"></div><span>Option 01</span></li>
        <li><div class="bar" data-percentage="30"></div><span>Option 02</span></li>
        <li><div class="bar" data-percentage="60"></div><span>Option 03</span></li>
        <li><div class="bar" data-percentage="100"></div><span>Option 04</span></li>
        <li><div class="bar" data-percentage="80"></div><span>Option 05</span></li>
      </ul>
    </div>
    <!--chart end-->

    <script type="text/javascript">
    $(function(){
      $('.bars li .bar').each(function(key, bar){
        var percentage = $(this).data('percentage');
        $(this).animate({
          'height' : percentage + '%'
        },1000);
      });
    });
    </script>
    <script type="text/javascript">

    function update(){

      var c_Score = document.getElementById("c_Score").value
      var element = document.getElementById("c_Score_holder")

      let color

      if (c_Score >= 0.9){
        color = "text-primary"
      }
      else if(c_Score >= 0.7){
        color = "text-warning"
      }
      else{
        color = "text-danger"
      }

      element.classList.add(color)
    }

    setTimeout(()=>{
      document.getElementById("hide").style.display = "hidden"
    }, 3000)

    update()
    </script>
  </div>
</div>

  <br><br>

</body>

</html>
